/* HEADER */

.rules {
  box-sizing: border-box;
  width: 100%;
}

button {
  cursor: pointer;
}

.header-container {
  margin: 0 auto;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header input {
  width: 600px;
  background-color: #ebc7a0;
  opacity: 50%;
  border-radius: 5px;
  border: none;
  height: 40px;
}

header button {
  border: none;
  margin-left: 40px;
  background-color: #ebc7a0;
  height: 30px;
  border-radius: 5px;
  color: #fff;
}

header div {
  display: flex;
}

/* HERO */

.hero {
  height: 450px;
  background-image: url("./assets/imgs/hero.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 70px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero-box {
  height: 250px;
  width: 400px;
  position: absolute;
  top: 90px;
  left: 210px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Rubik", sans-serif;
}

.hero-box button {
  background-color: #ebc7a0;
  border: none;
  height: 40px;
  color: white;
  border-radius: 5px;
  width: 200px;
}

/* BODY HOME */

.offers-box {
  margin: 0 auto;
  height: 100%;
  width: 75%;
  display: flex;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
}

.offers-box img {
  border: black solid 2px;
  border-radius: 10px;
}

.each-offer {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 10px;
}

/* OFFER PAGE */

.offer-container {
  background-color: rgb(238, 238, 238);
  height: 800px;
  width: 100%;
  margin-top: 40px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.offer-container > div {
  height: 600px;
  border: solid black 1px;
  width: 400px;
}

/* SIGNUP & LOGIN PAGE */

.signup-container {
  width: 500px;
  border: solid 3px black;
  margin: 150px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: #ebc7a0;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.signup-form input {
  margin-bottom: 20px;
  height: 50px;
  text-align: center;
  border-radius: 10px;
  border: black 1px;
}

.publishpage-form-container {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  padding: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.publishpage-form-container > div {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 20px;
}

.publishpage-form-container > div > div {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.publishpage-form-container input {
  height: 30px;
  width: 200px;
  margin-bottom: 10px;
  border-radius: 5px;
}
/* PAYMENT PAGE  */

.payment-form-container {
  border: solid black;
  margin: 0 auto;
  width: 600px;
  height: 700px;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
